li {
    padding: 15px;
    margin: 15px;
    background: lightblue;
    list-style: none;
    border-radius: 25px;
    text-align: center;
    width: 225px;
    height: 50px;
}

ul {
    list-style: none;
}

.form-group {
    margin-bottom: 25px;
}

.btn-primary {
    border-radius: 15px;
}

img {
    align-content: center;
    max-width: 25;
    max-height: auto;
}

h1 {
justify-content: center;
padding-left: 100px;
max-width: auto;
color: #black;
text-shadow: 2px 2px red;

}

h2 {
    text-align: center;
    text-shadow: 2px 2px black;
    color: whitesmoke;
    background-color: rgb(126, 124, 124);
    border-radius: 3px;
    opacity: 0.8
    
}

h3 {
    color: white;
}

/* .insertOne-form {
   padding: 15px;
   margin: 15px;
   background: lightblue;
   list-style: none;
   border-radius: 25px;
   text-align: center;
   width: 400px;
   height: 50px;
} */

html,
body {
    height: 100%;
}

body {
    background-image: url("/assets/img/mainBurger.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: CadetBlue;
    
}

div,
body {
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
    color: black;
}

.footer {
    text-align: center;
    text-shadow: 1px 1px #ffffff;
}

.wrapper {
    height: 100%;
    width: 100%;
}
.row {
    align-content: center;
    justify-content: center;
}
.item-a {
    grid-area: header;
    align-content: center;
    width: 200%;
}
div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 800px;
    align-content: center;
    /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: white;
}

.item-b {
    grid-area: main;
    align-items: center;
    margin-right: 100px;
}

.item-c {
    grid-area: main;
    align-items: center;
}

.item-d {
    grid-area: main;
    /* /* align-content: center; */
    align-items: center;
    list-style: none;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    width: 500px;
    height: 50px;
    
}

.item-e {
    grid-area: footer;
}

.container-bg {
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    
}

.inputBox {
    width: 200px;
    align-content: center;
    text-align: center;
}

._2XBDTIVigBJDybhZvL-hU3 {
    margin-bottom: 50px;
}